<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>data Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="main">
        <h1>Congratulations you are registered </h1>
        <a href="/login">Click here to login</a>
</body>
</div>

</html>