<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="main">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" class="input" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" class="input" name="password">
            </div>
            <button type="submit" class="btn">Login</button>
            <br>
            <a href="/register" type="button" class="btn"> Signup</a>
        </form>
</body>
</div>

</html>