<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<body>
    <div class="main">
        <h1>Welcome
            <%= user.username %>
        </h1>
        <p>You have successfully logged in!</p>
        <a href="/logout">Logout</a>
    </div>
</body>

</html>